<header class="cabecalho-principal">
    <div class="container cabecalho-conteudo">
        
        <div class="lado-esquerdo">
            <h1 class="logo">✈️ Viaje Bem</h1>
            <nav class="menu-principal">
                <a href="{% url 'index' %}">Início</a>
                <a href="#">Destinos</a>
                <a href="{% url 'contato' %}">Contato</a>
            </nav>
        </div>

        <div class="lado-direito">
            <a href="{% url 'ver_carrinho' %}" class="btn-carrinho">
                <span>🛒 Carrinho</span>
                
                <span class="contador">
                    {{ request.session.carrinho|length }}
                </span>
            </a>
            {% if user.is_authenticated %}
                <div style="display: flex; flex-direction: column; align-items: end;">
                    <span style="font-size: 0.8rem; color: #ddd;">Olá, {{ user.username }}</span>
                    
                    <form action="{% url 'logout' %}" method="post" style="margin: 0;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: #ffc107; cursor: pointer; font-weight: bold; font-size: 0.9rem;">Sair</button>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="link-login">Entrar</a>
            {% endif %}
            
        </div>

    </div>
</header>